.list-page {
  box-sizing: 'border-box';
  padding: 0 5px;
  overflow-x: hidden;
}

.image-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-item {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}

.image-item img {
  width: 100%;
  height: auto;
}

.upload-form-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff; /* ここで背景色を指定。色はお好みで変更してください。 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0; /* 必要に応じてパディングを調整 */
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2); /* 影を追加 */
}